
  </nav>
  
  <div class="container mt-5">
    <div class="row">
      <div class="col-12 mt-4">
        <form class="form-inline">
          <div class="form-group mr-2 mb-2">
            <label for="" class="sr-only">filtro</label>
            <input [(ngModel)]="searchText" name="searchText" (keyup)="showSearchResults($event)" type="text" class="form-control" id="" placeholder="Filtrar por bookingId y bookingPrice">
        
          </div>
          <button type="submit" class=" btn btn-outline-secondary mb-2">- Filtrar</button>
        </form>
        <table class="table table-bordered table-responsive">
          <thead>
            <tr>
              <th scope="col">BookingId</th>
              <th scope="col">Cliente</th>
              <th scope="col">Fecha de Creación</th>
              <th scope="col">Dirección</th>
              <th scope="col">Precio</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let booking of bookings |search : searchText |  paginate: { itemsPerPage: 10, currentPage: paginaActual } ">
              <td>{{ booking.bookingId | search }}</td>
              <td>{{ booking.firstName }} {{ booking.lastName }}</td>
              <td>{{ booking.bookingTime }}</td>
              <td>{{ booking.streetAddress }}</td>
              <td>{{ booking.bookingPrice }}</td>
            </tr>
          </tbody>
        </table>
        <pagination-controls class="my-pagination" (pageChange)="paginaActual = $event"></pagination-controls>
      </div>