<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="./">Booking service</a>
  </div>
</nav>

<div class="container mt-5">
  <div class="row">
    <div class="col-12 mr-2 mb-2">
      <form>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="searchText">Filtrar por bookingId</label>
            <input [(ngModel)]="searchText" name="searchText" type="text" class="form-control"
              id="searchText" placeholder="Filtrar por bookingId">
          </div>
          <div class="form-group col-md-6">
            <label for="precioDesde" class="w-100">Filtrar por bookingPrice</label>
            <div class="d-flex">
              <input [(ngModel)]="priceText" name="priceText" type="text" class="form-control mr-1" id="precioDesde" placeholder="Precio desde">
              <input [(ngModel)]="priceCompare" name="priceCompare" type="text" class="form-control" id="precioHasta" placeholder="Precio hasta">
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-12">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">BookingId</th>
              <th scope="col">Cliente</th>
              <th scope="col">Fecha de Creación</th>
              <th scope="col">Dirección</th>
              <th scope="col">Precio</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let booking of bookings | search : searchText | price : priceText|  price2 : priceCompare|  paginate: { itemsPerPage: 10, currentPage: paginaActual } ">
              <td scope="row">{{ booking.bookingId  }}</td>
              <td>{{ booking.firstName }} {{ booking.lastName }}</td>
              <td>{{ booking.bookingTime | date }}</td>
              <td>{{ booking.streetAddress }}</td>
              <td>{{ booking.bookingPrice  }}</td>
            </tr>
          </tbody>
        </table>
        <pagination-controls class="my-pagination" (pageChange)="paginaActual = $event"></pagination-controls>
      </div>
    </div>
  </div>
</div>
