<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="#">Booking service</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <form class="form-inline">
        <div class="form-group mr-2 mb-2">
          <label for="" class="sr-only">filtro</label>
          <input [(ngModel)]="searchText" name="searchText" (keyup)="showSearchResults($event)" type="text" class="form-control" id="" placeholder="Filtrar por bookingId y bookingPrice">
        </div>
        <button type="submit" class=" btn btn-outline-secondary mb-2">- Filtrar</button>
      </form>
    </div>
    <div class="col-12">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">BookingId</th>
              <th scope="col">Cliente</th>
              <th scope="col">Fecha de Creación</th>
              <th scope="col">Dirección</th>
              <th scope="col">Precio</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let booking of bookings | paginate: { itemsPerPage: 10, currentPage: paginaActual } | search : searchText">
              <th scope="row">{{ booking.bookingId }}</th>
              <td>{{ booking.firstName }} {{ booking.lastName }}</td>
              <td>{{ booking.bookingTime }}</td>
              <td>{{ booking.streetAddress }}</td>
              <td>{{ booking.bookingPrice }}</td>
            </tr>
          </tbody>
        </table>
        <pagination-controls class="my-pagination" (pageChange)="paginaActual = $event"></pagination-controls>
      </div>
    </div>
  </div>
</div>
